        <div id="item-list">
 
        <div class="card card-content" id="item-${item.id}">
          <div class="row">
          <span class="card-title activator grey-text text-darken-4">{{date}}<i class="material-icons right">More Details</i>
          <a href="#" class="secondary-content"><i class="edit-item fa fa-pencil"></i></a>
          <p>{{city}}</p>
          <p>{{venue}}</p>
          </span>
          </div>
        
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Date: {{date}}<i class="material-icons right">close</i></span>
          <strong>City: {{city}}</strong>
          <p>Venue: {{venue}}</p>
          <p>Address: {{address}}</p>
          <p>Contact: {{contact}}</p>
          <p>Phone Number: {{phone}}</p>
          <p>email: {{email}}</p>
          <p>Deal: {{deal}}</p>
          <p>Deposit: {{deposit}}</p>
          <p>Set Time: {{showtime}}</p>
          <p>Arrival Time: {{arrivaltime}}</p>
        </div>
        </div>
        </div>

        </div>
  

