{{!-- {{#if loggedIn}} --}}

<div class="container">
        <div class="card large">
          <p>Date: {{show.date}}</p>
          <p>City: {{show.city}}</p>
          <p>Venue: {{show.venue}}</p>
        <p>Address: {{show.address}}</p>
          <p>Contact: {{show.contact}}</p>
          <p>Phone Number: {{show.phone}}</p>
          <p>email: {{show.email}}</p>
          <p>Deal: {{show.deal}}</p>
          <p>Deposit: {{show.deposit}}</p>
          <p>Set Time: {{show.showtime}}</p>
          <p>Arrival Time: {{show.arrivaltime}}</p>

        </div>
</div>
{{!-- {{/if}} --}}