<div class="container">
        <div class="card large">
          <p>Date: {{show.date}}</p>
          <p>City: {{show.city}}</p>
          <p>Venue: {{show.venue}}</p>
        <p>Address: {{address}}</p>
          <p>Contact: {{contact}}</p>
          <p>Phone Number: {{phone}}</p>
          <p>email: {{email}}</p>
          <p>Deal: {{deal}}</p>
          <p>Deposit: {{deposit}}</p>
          <p>Set Time: {{showtime}}</p>
          <p>Arrival Time: {{arrivaltime}}</p>

        </div>
</div>